SolutionNeptunoWCF/Servicio.Neptuno.AppWebMVC/Service References/ProxyWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmpleadoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Servicio.Neptuno.wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmpleadoService_EmpleadoListar_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoListar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoListarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoAdicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoAdicionar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoAdicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoAdicionarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoActualizar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoEliminar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoBuscar_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoBuscar" />
  </wsdl:message>
  <wsdl:message name="IEmpleadoService_EmpleadoBuscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadoBuscarResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmpleadoService">
    <wsdl:operation name="EmpleadoListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoListar" message="tns:IEmpleadoService_EmpleadoListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoListarResponse" message="tns:IEmpleadoService_EmpleadoListar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpleadoAdicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoAdicionar" message="tns:IEmpleadoService_EmpleadoAdicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoAdicionarResponse" message="tns:IEmpleadoService_EmpleadoAdicionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpleadoActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoActualizar" message="tns:IEmpleadoService_EmpleadoActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoActualizarResponse" message="tns:IEmpleadoService_EmpleadoActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpleadoEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoEliminar" message="tns:IEmpleadoService_EmpleadoEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoEliminarResponse" message="tns:IEmpleadoService_EmpleadoEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpleadoBuscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoBuscar" message="tns:IEmpleadoService_EmpleadoBuscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmpleadoService/EmpleadoBuscarResponse" message="tns:IEmpleadoService_EmpleadoBuscar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmpleadoService" type="tns:IEmpleadoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmpleadoListar">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoService/EmpleadoListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpleadoAdicionar">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoService/EmpleadoAdicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpleadoActualizar">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoService/EmpleadoActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpleadoEliminar">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoService/EmpleadoEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpleadoBuscar">
      <soap:operation soapAction="http://tempuri.org/IEmpleadoService/EmpleadoBuscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmpleadoService">
    <wsdl:port name="BasicHttpBinding_IEmpleadoService" binding="tns:BasicHttpBinding_IEmpleadoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicio.Neptuno.wcf/EmpleadoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>